*.mp4
*.mp3
/.idea/.gitignore
/.idea/editor.xml
/.idea/misc.xml
/.idea/vcs.xml
/cmake-build-debug/CMakeFiles/Progress/1
/cmake-build-debug/CMakeFiles/Progress/2
/cmake-build-debug/CMakeFiles/Progress/3
/cmake-build-debug/CMakeFiles/Progress/4
/cmake-build-debug/CMakeFiles/Progress/5
/cmake-build-debug/CMakeFiles/Progress/6
/cmake-build-debug/CMakeFiles/Progress/7
/cmake-build-debug/CMakeFiles/Progress/8
/cmake-build-debug/CMakeFiles/Progress/9
/cmake-build-debug/CMakeFiles/Progress/10
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/a.out
/cmake-build-debug/CMakeFiles/SimpleServer.dir/code/buffer/buffer.cpp.o
/cmake-build-debug/CMakeFiles/SimpleServer.dir/code/buffer/buffer.cpp.o.d
/cmake-build-debug/CMakeFiles/SimpleServer.dir/build.make
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-73685ce3f473a7cd1747.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/SimpleServer.dir/cmake_clean.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-c953767901832f168ea2.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-afeac99635780a214c9e.json
/cmake-build-debug/CMakeFiles/SimpleServer.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/SimpleServer.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/Progress/count.txt
/cmake-build-debug/CMakeFiles/SimpleServer.dir/depend.make
/cmake-build-debug/CMakeFiles/SimpleServer.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/SimpleServer.dir/code/server/epoller.cpp.o
/cmake-build-debug/CMakeFiles/SimpleServer.dir/code/server/epoller.cpp.o.d
/cmake-build-debug/CMakeFiles/SimpleServer.dir/flags.make
/cmake-build-debug/CMakeFiles/SimpleServer.dir/code/timer/heaptimer.cpp.o
/cmake-build-debug/CMakeFiles/SimpleServer.dir/code/timer/heaptimer.cpp.o.d
/cmake-build-debug/CMakeFiles/SimpleServer.dir/code/http/httpresponse.cpp.o
/cmake-build-debug/CMakeFiles/SimpleServer.dir/code/http/httpresponse.cpp.o.d
/cmake-build-debug/.cmake/api/v1/reply/index-2025-02-24T13-18-42-0337.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/SimpleServer.dir/link.txt
/cmake-build-debug/CMakeFiles/SimpleServer.dir/code/log/log.cpp.o
/cmake-build-debug/CMakeFiles/SimpleServer.dir/code/log/log.cpp.o.d
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/SimpleServer.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/.idea/SimpleServer.iml
/cmake-build-debug/.cmake/api/v1/reply/target-SimpleServer-Debug-7dd33c54c75972924e5c.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-c5b5b9eb3c091c40af91.json
